<%= render 'shared/second-header' %>
<div class="bg-light pt-4 d-flex align-items-center">
  <div class="mx-auto h-75 w-75 bg-white">
    <div class="fs-4 mb-3 text-center pt-2">記録の情報を入力
    </div>
    <%=form_with model: @diary, id: 'new_diary',class: "row" , local:true do |f| %>
    <%= render 'shared/error_message', model: f.object %>
    <div class=" mt-2 mb-4 mx-auto text-center">
      <%= f.label "記録日", class: "fw-bolder" %>
      <%= f.date_field :date,class:"form-control w-50 mx-auto" %>
    </div>
    <div class="mx-auto text-center">
      <%= f.label "部位", class: "fw-bold" %>
      <%= f.text_field :site, class: "form-control w-50 mx-auto", placeholder: "例)　胸・肩（前）, 背中・腹筋など" %>
    </div>
    <div class=" d-grid gap-2 mt-4 w-50 mx-auto">
      <%= link_to_add_association "メニューを追加する", f,:workouts,class:"btn btn-outline-primary",id: "add-btn",
        data:{
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append'
          } 
          %>
    </div>
    <div id="detail-association-insertion-point"></div>
    <%= f.fields_for :workouts do |form|%>
      <%= render 'workout_fields',f: form %>
    <% end%>
    
    
    <div class="input-group mb-3 w-75 mx-auto">
      <%= f.label "画像または動画" ,class:"input-group-text", for:"inputGroupFile01" %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif, image/png,video/*', class:"form-control", id:"inputGroupFile01"%>
    </div>
    <div id="previews"></div>
    <div class="d-grid gap-2 col-6 mx-auto mb-4 mt-4">
      <%= f.submit "記録する",class:"btn btn-danger" %>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/second-footer'%>