<%= render 'shared/second-header' %>
<div class="bg-light vh-100 " >
  
  <div class="mx-auto w-50 h-100 d-flex align-items-center">
    <div class="bg-white h-75">
      <div class="fs-4 text-center mb-5 mt-5 pt-2">会員情報入力
      </div>
      <%= form_with model: @user, url: user_session_path,class: "row g-3", local: true do |f| %>
      <div class="col-10 ms-4">
        <div class="d-flex">
          <label class="form-label p-1 mb-0">Eメール</label>
          <span class="bg-danger text-white ms-2 p-1 fw-bold">必須</span>
        </div>
        <%=f.email_field :email, class: "form-control mt-2 mb-4", id:"email", placeholder: "携帯・PCどちらでも可", autofocus:true%>
      </div>
      <div class="col-10 ms-4">
        <div class="d-flex">
          <label class="form-label p-1 mb-0">パスワード</label>
          <span class="bg-danger text-white ms-2 p-1 fw-bold">必須</span>
        </div>
        <%= f.password_field :password, class: "form-control mt-3 mb-5",id:"password", placeholder:""%>
      </div>
      <div class=" d-grid gap-2 col-6 mx-auto ">
        <%= f.submit "ログイン",class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/second-footer' %>
